#loading-spinner-container {
    display: none;
    /* Ladekreis standardmäßig ausblenden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
    color:darkgoldenrod
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
 ::-webkit-scrollbar {
    width: 0.4vw;
}

    
::-webkit-scrollbar-thumb {
    background: darkgoldenrod;
    border-radius: .4rem
}
::-webkit-scrollbar-thumb:hover {
    background:linear-gradient(rgb(1, 29, 82),#d1a11b)
}

::-webkit-scrollbar-track {
    background: #242328;
    
}       
::-webkit-scrollbar-thumb {
    background: #ffc200;
    border-radius: .4rem
}
::-webkit-scrollbar-thumb:hover {
    background:linear-gradient(rgb(1, 29, 82),#d1a11b)
} 

body {
    background-color: #0b1c2e;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: system-ui;
    margin: 0;
    overflow-x: hidden;
}
.shift {
    background-color: #0b1c2e;
    width: 100vw;
    top: 0;
    left: 0;
}

.search-container {
    display: block;
    align-items: center;

}

.nav-content {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    z-index: 2001;
    height: 50px;
}

.shift .href {
    display: inline-block;
}

.shift ul li a {
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px;
    font-family: "Quicksand";
    display: flex;
}

.shift ul li a,
.shift ul li a:after,
.shift ul li a:before {
    transition: all .5s;
}

.shift ul li a:hover {
    color: #012342;

}

.shift ul li a {
    position: relative;
    z-index: 1;
}

.shift ul li a:hover {
    color: #a78801;
}

.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #183652;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.shift img {
    width: 100px;
    height: 30px;
    opacity: 0.5;
}

.shift img:hover {
    opacity: 1;
}

.search_box {
    width: 400px;
    align-items: center;
    /* background: rgb(16, 47, 104); */
    position: relative;
    padding: 5px;
    display: flex;
    text-align: center;
    transition: box-shadow 1s ease;
    font-family: 'forum';
    gap: 3px;
}
.search_box a {
    text-decoration: none;
    padding: 0 0 0 20px;
}
.search_box:hover {
    transition: box-shadow 0.5s ease;
}

.search_box .search_btn {
    width: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ca8b02;
}

.search_box .search_btn:hover {
    cursor: pointer;
}

.search_box form {
    width: 70%;
}

.search_box .input_search {
    outline: none;
    border: 2px solid darkgoldenrod;
    background: #e0dada;
    border-radius: 5px;
    padding: 8px 7px;
    width: 95%;
    color: #000000;
    justify-content: center;
    align-items: center;
    font-family: 'forum';
    font-size: 12px;

}

.search_box .filter_btn {
    width: 20%;
    height: 30px;
    border: none;
    background: #0b1c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgoldenrod;
    cursor: pointer;
    border-radius: 20%;
    font-family: "Quicksand";
    font-weight: bold;
}

.filter_btn {
    width: 20%;
    height: 30px;
    border: none;
    background: #0b1c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgoldenrod;
    cursor: pointer;
    font-family: "Quicksand";
    font-weight: bold;
}


/* search ovelray */
#results-overlay {
    position: absolute;
    width: 410px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 100000;

}
#results-overlay a {
    gap :20px;
    display: flex;
    align-items: center;
    font-family : Arial, Helvetica, sans-serif;
    width: 100%;
}
.result {
    gap: 3px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

#results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.result-item {
    background-color: #0b1c2e;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-top: 1px solid darkgoldenrod;
    /* border-bottom: 1px solid darkgoldenrod; */
    margin: 0;
    cursor: pointer;
    color: white;
    width: 100%;
    overflow: hidden;
}

.result-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: darkgoldenrod;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 2px;
}

.info-search {
    display: inline-block;
    gap: 5px;
}

.info-search strong {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-item img {
    width: 10%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    opacity: 1;
}

.info {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: end;
    gap: 10px;
}

.info p {
    font-size: 11px;
    font-family: cursive;
}
/* search overlay */


/* sidebar toggle */
.header {
    background: #0b1c2e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 2002;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

.header button {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: 0;
}

.toggle span {
    width: 100%;
    height: 3px;
    background: darkgoldenrod;
    display: block;
    position: relative;
    cursor: pointer;
    margin-top: -5px;
}

.toggle span:before,
.toggle span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkgoldenrod;
    transition: all 0.3s ease-out;
}

.toggle span:before {
    top: -8px;
}

.toggle span:after {
    top: 8px;
}

.toggle span.toggle {
    background: transparent;
}

.toggle span.toggle:before {
    top: 0;
    transform: rotate(-45deg);
    background: rgb(255, 255, 255);

}

.toggle span.toggle:after {
    top: 0;
    transform: rotate(45deg);
    background: rgb(255, 255, 255);
}

.sidebar {
    background: #0b1c2e;
    width: 150px;
    position: fixed;
    top: 0;
    left: -235px;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding-top: 60px;
    transition: all 0.3s ease-out;
    z-index: 2000;

}




.sidebar a {
    padding: 15px 15px;
    font-size: 16px;
    color: #e2e0e0;
    font-family: "Quicksand";
    text-decoration: none;
    display: flex;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
    font-weight: 500;
    /* justify-content: space-between; */
    gap:20px
}

.sidebar a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 1px;
    background: darkgoldenrod;
    z-index: -1;
    transition: all 0.3s ease-out;
}

.sidebar   a:hover:before {
    width: 100%;
}

.sidebar  a:hover {
    color: darkgoldenrod;
}

.sidebarshow {
    left: 0;
}

.custom-icon {
    color: darkgoldenrod;
    width: 15px;
    height: 15px;
}

/* sidebar toggle */

/* //filter */
#overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    /* Stelle sicher, dass das Overlay über anderen Inhalten liegt */
}

#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0b1c2e;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    max-height: 500px;
    overflow-y: auto;
}

#genreButtons {
    display: flex;
    flex-wrap: wrap;
}

#countryButtons {
    display: flex;
    flex-wrap: wrap;
}

.year {
    background-color: black;
    /* Hintergrundfarbe */
    color: #fff;
    /* Textfarbe */
    border: 1px solid black;
    /* Rand */
    padding: 6px 12px;
    /* Innenabstand */
    font-size: 12px;
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
}

.year:hover {
    background-color: #b38600;
    opacity: 2;
    border-color: darkgoldenrod;
    /* Randfarbe beim Überfahren */
    color: black;
}
.type {
    background-color: black;
    /* Hintergrundfarbe */
    color: #fff;
    /* Textfarbe */
    border: 1px solid black;
    /* Rand */
    padding: 6px 12px;
    /* Innenabstand */
    font-size: 12px;
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
}

.type:hover {
    background-color: #b38600;
    opacity: 2;
    border-color: darkgoldenrod;
    /* Randfarbe beim Überfahren */
    color: black;
}
.genre {
    background-color: black;
    /* Hintergrundfarbe */
    color: #fff;
    /* Textfarbe */
    border: 1px solid black;
    /* Rand */
    padding: 6px 12px;
    /* Innenabstand */
    font-size: 12px;
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
}

.genre:hover {
    background-color: #b38600;
    opacity: 2;
    border-color: darkgoldenrod;
    /* Randfarbe beim Überfahren */
    color: black;
}
.country {
    background-color: black;
    /* Hintergrundfarbe */
    color: #fff;
    /* Textfarbe */
    border: 1px solid black;
    /* Rand */
    padding: 6px 12px;
    /* Innenabstand */
    font-size: 12px;
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
}

.country:hover {
    background-color: #b38600;
    opacity: 2;
    border-color: darkgoldenrod;
    /* Randfarbe beim Überfahren */
    color: black;
}
.filter-start {
    background-color: darkgoldenrod;
    /* Hintergrundfarbe */
    color: black;
    /* Textfarbe */
    border: 1px solid darkgoldenrod;
    /* Rand */
    padding: 8px 15px;
    /* Innenabstand */
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
    margin-top: 20px;
}

.filter-icon {
    width: 35px;
    height: 35px;
    border-radius: 30px;
}
.selected {
    outline: none;
    /* Entfernt den Standard-Fokus-Stil */
    border-color: darkgoldenrod;
    background-color: #b38600;
    color: black;
}
/* //filter */


/*naaaaav baaar hetha lfouuuuuuuu9*/


/* sharebutton */
.share-button {
    margin-top: 20px;
    width: 400px;
    height: 30px;
    background: #1877a0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
    box-shadow: 0 10px 20px -3px rgba(0, 0, 0, .7);
    left: 50%;
    transform: translate(-50%);
}


.share-button:hover {
    transform: scale(1.1);
    left: 50%;
    transform: translate(-50%);
}

.share-button span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(65, 1, 117);
    color: #f1f1f1;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: .6s linear;
    border-radius: 40px;
    font-size: 12px;
    font-family: "Quicksand";
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

.share-button:hover span {
    transform: translateX(-150%);
    transition-delay: .3s;
    background-color: rgb(255, 157, 0);
}

.share-button a {
    flex: 1;
    font-size: 15px;
    color: #d1d7d8;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;

}

.share-button:hover a {
    opacity: 1;
    transform: translateX(0%);
}

.share-button a:nth-of-type(1) {
    transition-delay: 1s;
}

.share-button a:nth-of-type(2) {
    transition-delay: 0.8s;
}

.share-button a:nth-of-type(3) {
    transition-delay: 0.6s;
}

.share-button a:nth-of-type(4) {
    transition-delay: 0.4s;
}
/* /sharebutton */

.word {
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    color: darkgoldenrod;
    font-size: 15px;
    font-family: "Quicksand";
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    height: 20px;
    font-weight: bold;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 2px solid darkgoldenrod;
}

.title {
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
    border-bottom: 1px solid darkgoldenrod;
}
.title a {
    color: darkgoldenrod;
    font-family: cursive;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.title a::before,
.title a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.title a::before {
    background-color: darkgoldenrod;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.title a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: darkgoldenrod;
}

.title a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.title a:hover::after {
    transform: translate3d(0, 0, 0);
}

.title a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.title a:hover span {
    transform: translate3d(-200%, 0, 0);
}

/* pulse */
.pulsating-circle {
    margin-top: 25px;
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 20px;

    &:before {
        content: '';
        position: relative;
        display: block;
        width: 200%;
        height: 200%;
        box-sizing: border-box;
        margin-left: -50%;
        margin-top: -50%;
        border-radius: 45px;
        background-color: darkgoldenrod;
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: darkgoldenrod;
        border-radius: 15px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .3);
        animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
}

@keyframes pulse-ring {
    0% {
        transform: scale(.1);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(.6);
    }

    100% {
        transform: scale(.8);
    }
}

.movie-item img {
    width: 150px;
    height: 235px;
    cursor: pointer;
    object-fit: cover;
}

.movie-list {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;

}

.movie-item {
    background-color: #0b1c2e;
    display: flex;
    gap: 10px;
    transition: opacity 2s ease-in-out;
    z-index: 1;
    position: relative;
    border: 3.5px solid #152c42;
    height: 235px;
}

.visible {
    z-index: 2;
}

.invisible {
    opacity: 0;
    z-index: -1;
}

.two-movie-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width : 390px;
}

.movie-details {
    flex-grow: 1;
    font-family:"forum";
}

.movie-title {
    color: white;
    padding-top: 5px;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    font-family:"forum";
}

.story {
    color: white;
    font-size: 13.5px;
    font-family:"Open Sans", sans-serif;
    padding-right: 5px;
    line-height: 22px;
    text-align: justify;
    max-height: 90px;
    overflow: hidden;
}
.movie-details .story {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    max-height: 70px;
    text-align: start;
    font-size: 11.5px;
}
.movie-button {
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: darkgoldenrod;
    color: black;
    border: none;
    border-radius: 10px;
    font-family: 'forum';
    font-size: 15px;
    font-weight: bold;

}

.movie-button:hover {
    background-color: #f5cc00;
}

.movie-description {
    margin: 10px 0;
}

.movie-rating {
    color: white;
    display: inline-block;
    margin-right: 5px;
    /* padding-left: 10px; */
    font-weight: bold;
    font-size:12px;
}

.movie-rating::before {
    content: "★";
    color: gold;
    margin-right: 3px;
}

.hd-quality {
    color: white;
    font-weight: bold;
    margin-left: 5px;
    font-size:12px;
}

.main-content {
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    position: relative;
    margin-top:2px;

}

.movie-container {
    overflow: hidden;
    position: relative;
    max-width: 900px;
    max-height: 450px;
    margin: 0 auto;
}
:root {
    --num-of-slides: 3;
}

.movie-container img.fade-out {
    opacity: 0;
}

.movie {
    transition: opacity 0.5s ease-in-out;
    width: 900px;
    height: 450px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.movie-thumbnail{
    width: 500px;
    height: 285px;
    
}
.movie-slides-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.movie-slide {
    flex: 0 0 100%;
    position:relative;
    transition: opacity 0.5s ease;
    height: 450px;
}
.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    color: white;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,255) 100%);
    padding: 10px;
}


.movie-info-overlay {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,255) 100%);
    position : absolute;
    display : flex;
    flex-direction: row;
    cursor: pointer;
    left : 50%;
    transform: translateY(-100%) translateX(-50%);
    gap :10px;
    width: 87%;
}
.movie-img-overlay{
    position:relative;
    width: 150px;
    height: 250px;
    z-index: 3;
}
.movie-img-overlay img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 10px 20px rgba(223, 172, 5, 0.5);
    border: 1px solid darkgoldenrod;
    z-index: 3;
    object-fit: cover;
}
.play-btn {
    width: 70px;
    height: 70px;
    background: radial-gradient(#173761 60%, darkgoldenrod 62%);
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 25px 3px #173761;
    z-index: 10;
}

/* triangle */
.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid darkgoldenrod;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid darkgoldenrod;
    top: -30%;
    left: -30%;
    background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px darkgoldenrod, 0px 0px 25px 10px darkgoldenrod;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px darkgoldenrod, 0px 0px 25px 10px darkgoldenrod;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}

.top-button .arrow {
    display: inline-block;
    transform: rotate(-90deg);
}

.bottom-button .arrow {
    display: inline-block;
    transform: rotate(-90deg);
}
.movie-item:hover {
    transform: scale(1.01);
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: darkgoldenrod;
    /* border-color: darkgoldenrod; */
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 100px;
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
}

/* hetha css taa noss lpaage loutaani ye zzzz */
.container {
    /* background-color: rgba(0, 0, 0, 0.8);  */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 10px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top:15px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    margin: 0px;
    box-shadow: 0px 0px 10px;
    border-radius: 0px 0px 50px 0px;
    position:relative;
}
.movie-card-img{
    overflow: hidden;
    position: relative;
}
.movie-card img {
    width: 170px;
    height: 250px;
    display: block;
    border-radius: 0px 0px 0px 0px;
    transition: transform 0.3s ease;
}
.toload{
    opacity: 0;
    transition: transform 0.2s ease-in-out,opacity 200ms ease-in-out ;
}
.toload.loaded1{
    opacity: 1;
}
.movie-info-list {
    width: 100%;
    /* movie-info-list nimmt die volle Breite ein */
    background-color:#0b1c2e;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 0px 50px 0px;
    border: 3px solid #152c42;
}
.rating-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.movie-info-list h3,
.movie-info-list p {
    margin: 2px 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .movie-card img:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    
} */
.movie-card:hover img {
    opacity: 1;
    transform: scale(1.2);
}
/* .movie-card-img::after {
    content: ""; 
    background-image: url('/images/movie_play.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; 
    height: 50px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    border-radius:10px;
    cursor: pointer;
} */
.movie-card-img .glightbox_video svg {
    width: 70px; 
    height: 70px; 
}
.movie-card-img .glightbox_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 12; 
}

.movie-card-img .outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410; 
    stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
    opacity: 0;
}

.movie-card-img:hover .glightbox_video {
    opacity: 1;
}

.movie-card-img:hover .outer_circle {
    opacity: 1;
    stroke-dashoffset: 410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out;
}

.movie-card-img:hover .inner-circle {
    fill: #173761;
    transition: fill .4s .3s ease-out;
    opacity: 1;
}
.movie-card-img:hover .glightbox_video
.play{
    fill: darkgoldenrod;
transition:fill .4s .3s ease-out;
}

.movie-card-img::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid darkgoldenrod; 
    background: radial-gradient(circle at center, transparent 0%, rgba(138, 113, 52, 0.5) 50%);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    pointer-events: none; 
    z-index: 11;
}

.movie-card-img:hover::before {
    opacity: 1;
}

/* .movie-card-img::before {
    content: "Mohamed Amin";
    color: white; 
    font-size: 14px;
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.movie-card-img:hover::before {
    opacity: 1; 
} */
.watch-now-btn {
    background-color: darkgoldenrod;;
    color: black;
    padding: 10px 20px;
    width: 80px;
    text-align: center;
    display: block;
    text-decoration: none;
    border-radius: 0px 50px 50px 0px;
    margin-top: 7px;
    font-size: 12px;
    font-family: 'forum';
    font-weight: bold;
}

.watch-now-btn:hover {
    background-color: #f5cc00;
}

.pagination-container {
    text-align: center;
    margin-top: -50px;
    position: relative;
    z-index: 10;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
}

.pagination li {
    display: inline;
}

.pagination li a {
    color: #333;
    /* Farbe des Links, anpassen nach Bedarf */
    text-decoration: none;
    background-color: rgb(235, 233, 233);
    border: 1px solid #ddd;
    /* Rahmen der Links */
    margin-left: 4px;
    /* Abstand zwischen den Links */
    padding: 8px 12px;
    /* Innenabstand der Links */
    border-radius: 50px;
}

.pagination .active a {
    background-color: darkgoldenrod;
    color: #fff;
    border: 1px solid darkgoldenrod;
}
.movie-list1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 9px solid #152c42;
}

.jdod {
    overflow: hidden;
    white-space: nowrap;
    max-width: 900px;
    margin: auto;
}

.carousel-images {
    width : 50%;
    display: flex;
    transition: transform 0.5s ease;
   
}

.carousel-image-img img{
    display: block;
    width: 150px;
    height: 250px;
    max-height: 250px;
    object-fit: cover;
}

.carousel-image-img{
    transition: transform 1s ease;
}
/* .carousel-image-img:hover {
    transform: scale(1.01);
    cursor: pointer;
    opacity: 0.5;
    transform:transofrm 0.3s ease;
} */
/* .carousel-image:hover {
    cursor: pointer;
    opacity: 1; 
    transition: transform 0.3s ease, border 0.3s ease, opacity 0.3s ease; 
}
.carousel-image-img::after {
    content: ""; 
    background-image: url('/images/movie_play.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; 
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12; 
    opacity: 0; 
    transition: opacity 0.3s ease, transform 0.5s ease; 
    border-radius: 10px;
    cursor: pointer;
}

.carousel-image-img:hover::after {
    opacity: 1; 
    transform: translate(-50%, -50%) rotate(360deg);
} */
.carousel-image .glightbox_video svg {
    width: 70px; 
    height: 70px; 
}
.carousel-image .glightbox_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 12; 
}

.carousel-image .outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410; 
    stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
    opacity: 0;
}

.carousel-image:hover .glightbox_video {
    opacity: 1;
}

.carousel-image:hover .outer_circle {
    opacity: 1;
    stroke-dashoffset: 410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out;
}

.carousel-image:hover .inner-circle {
    fill: #173761;
    transition: fill .4s .3s ease-out;
    opacity: 1;
}
.carousel-image:hover .glightbox_video
.play{
    fill: darkgoldenrod;
transition:fill .4s .3s ease-out;
}
.carousel-image::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at center, transparent 0%, rgba(184, 134, 11, 0.5) 50%);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    pointer-events: none; 
    z-index: 11;
}

.carousel-image:hover::before {
    opacity: 1; /* Show the border on hover */
}
.carousel-image {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 150px;
    height: 250px;
}

.carousel-image .text {
    position: absolute;
    top: -10px;
    left: 5px;
    color: darkgoldenrod;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 13;
    font-family:"forum";
}

.carousel-image:hover .text {
    background-color: #173761;
    color: white;
}
.carousel-image .onwen {
    margin-bottom: -5px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 89.5%;
    position: absolute;
    bottom: 5px;
    color: darkgoldenrod;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    /* border-radius: 5px; */
    font-size: 13px;
    z-index: 13;
    font-weight: bold;
    font-family:"forum";
}
.carousel-image:hover .onwen {
    color: white;
    background-color: #173761;;
}
.moremovies{
    display: flex;
    justify-content: center;
    transform: translatex(-50%);
    margin:30px 0 ;
    margin-left : 50%;
}
.moremovie{
    padding: 12px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    color : black;
    background-color: darkgoldenrod;
    border : none;
    font-family: 'forum';
    display: flex;
    align-items: center;
    gap: 5px;
}
.moremovie:hover{
    cursor: pointer;
    transform: scale(1.1); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border : darkgoldenrod;
}




/* footer */
.footer {
            background: linear-gradient(to right, #000000, #0b1c2e, #0b1c2e, #000000);
            color: #ffffff;
            text-align: center;
            padding: 30px 0;
            position: relative;
            width: 100%;
            bottom: 0;
            margin-top:50px;
        }
        .footer img {
            width: 150px;
            height: auto;
            margin:0 auto 50px auto;
        }
        .footer a {
            color: darkgoldenrod;
            text-decoration: none;
            margin: 0 30px;
        }
        .footer a:hover {
            text-decoration: underline;
        }
        .footer p {
            margin: 5px 0 0 0;
        }
        .footer hr {
            border: 0;
            height: 1px;
            background: darkgoldenrod;
            margin: 10px auto 30px auto;
            width: 70%;
        }
/* footer */

/* overlayinfos */
.background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    
}
.movie-hover-info {
    position: absolute;
    width: 300px;
    height:250px;
    background-color: #171b20;
    color: white;
    border-bottom: 2px solid darkgoldenrod;
    border-top: 2px solid darkgoldenrod;
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity 0.3s ease, transform 0.3s ease; 
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
    pointer-events: none; /* Ensure hover doesn't interfere with underlying elements */
    text-align: justify;
    border-radius: 10px;
    top:33%;
    left:50%
}

.movie-card:nth-child(7) .movie-hover-info    {
    transform: translateX(20%);
    left:0;
}
.movie-card:nth-child(7):hover .movie-hover-info {
    opacity: 1;
    left:-177%;
    transform: translateX(0);
}
.movie-card:nth-child(14) .movie-hover-info    {
    transform: translateX(20%);
    left:0;
}
.movie-card:nth-child(14):hover .movie-hover-info {
    opacity: 1;
    left:-177%;
    transform: translateX(0);
}
.movie-card:nth-child(20) .movie-hover-info    {
    transform: translateX(20%);
    left:0;
}
.movie-card:nth-child(20):hover .movie-hover-info {
    opacity: 1;
    left:-177%;
    transform: translateX(0);
}
.movie-overview {
    font-family: "quicksand";
    font-size: 12px;
    color: #e9e9e9;
    text-align: justify;
    position: relative;
    overflow: hidden;
    white-space: normal; /* Allow text to wrap */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.movie-hover-info:hover  .movie-hover-info,
.movie-card:hover .movie-hover-info {
    opacity: 1;
    left:100%;
    transform: translateX(0);
}
.titre{
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: justify;
}
.line{
    width: 100%;
    height: 1px;
    background: darkgoldenrod;
}
.genree{
    color: white;
    font-family: "quicksand";
    font-size: 12px;
}
.Countryy{
    color: white;
    font-family: "quicksand";
    font-size: 12px;
}
.rating-daate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}
.rating-daate p {
    font-size: 12px;
    color: white;
    font-family: "quicksand";
}
/* overlayinfos */

/* preloader */
.image-load{
    display:relative;
}
.preloader{
    position:absolute;
    width: 150px;
    height: 235px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.preloader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preloader2 img {
    width: 180px;
    height: 250px;
    position: absolute;
    object-fit: cover;
}
.preloader3 img {
    width: 100%;
    height: auto;
    position: absolute;  
    object-fit: cover;
}
.fancy-spinner {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transform:translate(-50%,-50%);
    width: 30px;
    height: 40px;
    left: 50%;
    top: 30%;

    div {
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;

        &.ring {
            border-width: 0.5rem;
            border-style: solid;
            border-color: transparent;
            animation: 2s fancy1 infinite alternate;

            &:nth-child(1) {
                border-left-color: rgb(136, 148, 173);
                border-right-color: rgb(136, 148, 173);
            }

            &:nth-child(2) {
                border-top-color: darkgoldenrod;
                border-bottom-color: darkgoldenrod;
                animation-delay: 1s;
            }
        }

        &.dot {
            width: 1rem;
            height: 1rem;
            background: darkgoldenrod;
        }
    }
}
    @keyframes fancy1 {
            to {
                transform: rotate(360deg) scale(0.5);
            }
        }
.fancy-spinner1 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transform:translate(-50%,-50%);
    width: 30px;
    height: 40px;
    left: 50%;
    top: 50%;

    div {
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;

        &.ring {
            border-width: 0.5rem;
            border-style: solid;
            border-color: transparent;
            animation: 2s fancy infinite alternate;

            &:nth-child(1) {
                border-left-color: rgb(136, 148, 173);
                border-right-color: rgb(136, 148, 173);
            }

            &:nth-child(2) {
                border-top-color: darkgoldenrod;
                border-bottom-color: darkgoldenrod;
                animation-delay: 1s;
            }
        }

        &.dot {
            width: 1rem;
            height: 1rem;
            background: darkgoldenrod;
        }
    }
}
    @keyframes fancy {
            to {
                transform: rotate(360deg) scale(0.5);
            }
        }
/* preloader */
@media (min-width: 4000px) {
    .footer{
        position: absolute;
    }
}

@media (min-width: 901px) and (max-width: 1400px) {
   
    .movie-info{
        background-color: none;
    }
    .movie-list .movie-title,
    .movie-list .hd-quality,
    .movie-list .story {
        font-size: 12px;
        max-width: 450px;

    }
    .movie-image {
        position: absolute;
        bottom: 3%;
    }

    .movie-slides-container {
        display: flex;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }

    .main-content {
        flex-direction: column;
    }

    .movie-list {
        width: 100%;
    }
    .main-content {
        margin-top : -30px;
        max-height: 550px;
        
    }
    
    .movie-details{
        width: 100%;
    }
    .movie-list,
    .two-movie-list {
        grid: 20px;
        order: 0;
        flex-direction: row;  
    }

    .movie-item img {
        width: 100%;
    }

    .movie-item:hover {
        transform: scale(1.01);
    }

    .movie-item:hover::after {
        content: "HD";
        font-size: "bold";
        color: #ff0000;
        position: absolute;
        top: 10px;
        left: 15px;
    }

    .movie-item {
        margin-top: 10px;
        width: 33vw;
        margin-bottom: 20px;
        flex: 1 1 30%;
        transition: opacity 2s ease-in-out, z-index 0s linear 2s;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
        z-index: 1;
        position: relative;
        flex-direction: row;
        border: none;
    }

    .visible {
        z-index: 2;
        /* Höherer z-index für sichtbare Elemente */
    }

    .invisible {
        opacity: 0;
        z-index: -1;
        /* Niedrigerer z-index, um die Interaktion mit anderen Elementen zu verhindern */
    }

    .movie-item:hover {
        transform: scale(1.01);
        /* Ihr Hover-Effekt */
    }

    .movie {
        width: 100vw;
        object-fit: cover;
        backdrop-filter: brightness(10%);
        filter:  brightness(0.7);
    }
    .movie-list1{
        gap : 0;
        border:none;
    }
    .movie-container {
        overflow: hidden;
        position: relative;
        max-width: 100vw;
        max-height: 550px;
        
    }
    
    .container{
        margin-left:8px;
        grid-gap:2px;
    }
    .title{
        margin: 0 8px;
        margin-top:300px
    }
    .word{
        margin:20px 8px 8px 8px;
    }
    .nav-content{
        margin:0 15px
    }
    body{
        margin-left: auto;
        margin-right: auto;
    }
    .two-movie-list{
        display : none
    }
    .share-button{
        margin-top:-90px;
    }
    .movie-button {
        margin-left: 10px;
        position: relative;
        cursor: pointer;
        background-color: black;
        color: darkgoldenrod;
        border: none;
        border-radius: 10px;
        width: 30%;
        /* Setzt die Breite des Buttons auf 100% der movie-details */
        margin: 10px 20px;
        /* Fügt oben und unten einen Außenabstand hinzu, links und rechts auf 0 */
        margin-top: 10px;
        padding: 10px 0;
    }

    .main-content {
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
        max-height: 550px;
        width: 100vw;
    }
    .jdod{
        max-width : 93vw;
        margin-top:150px;
    }
    .nav-button {
        transform: translateY(-70%);
    }
    
}

.search-container.show-input .search_box {
    display: flex;
    position: absolute;
    left: 0;
    background-color: #0b1c2e;
    z-index: 9999;
    width: 97.5vw;
    transform: translateY(24px);
    transition: transform 0.6s ease;
}

.search-container.show-input .search_box .input_search {
    display: flex;
}
@media (max-width: 1000px) { 
    .movie-hover-info {
        display:none;
    }
}
@media (max-width: 900px) {
    .text4, .text2 {
        width: auto;
    }
    .footer{
        position: relative;
    }
    .footer img {
        width: 80px;
        height: auto;
        margin:0 auto 30px auto;
    }
    .footer a {
        font-size: 11px;
        margin: 0 10px;
    }
    .footer a:hover {
        text-decoration: none;
    }
    .footer hr {
        width: 80%;
    }
    .movie{
        width: 100%;
        height: 300px;
        backdrop-filter: brightness(10%);
        filter: brightness(0.7);
        object-fit: cover;
    }
    .movie-info .story  , .movie-info-overlay .movie-image{
            display: none; /* Verbirgt den Beschreibungstext und den Button */
    }
    .movie-info-overlay {
        top : 95%;
        width: 100vw;
        background-color: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,255) 100%);
        gap : 20px;
    }
    .movie-info{
        height:100px;
        padding:0px;
        background:transparent;
    }
    .play-btn {
        top : 0;
        transform : translate(-50%,30%);
    }
    .movie-container, .movie-list {
        width: 100%; /* Auf kleinen Bildschirmen soll jedes Element die volle Breite einnehmen */
        max-height : 300px;
    }
    .jdod {
        max-width: 100vw;
    }
    .movie-list1{
        gap : 0;
        border:none;
    }
    .carousel-image img {
        display: block;
        width: 100%;
        max-height: 300px;
        transition: transform 0.3s ease;
    }

    .carousel-images {
        width : 30%;
        display: flex;
        transition: transform 0.5s ease;
    }
    .movie-slides-container {
        display: flex;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }
    .main-content{
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
    }
   
    .movie-list {
        order: 0; 
        flex-direction: row;   
    }
    
    .movie-item {
        flex-direction: row; 
        align-items: center; 
        width : 100vw;
        gap: 15px;
        margin: 0;
        padding: 0;
        transition: opacity 2s ease-in-out;
        background-color : rgba(0, 0, 0, 0.7);
        border:none;
        height:250px;
    }
    .main-content {
        margin-top : 0px;
        max-height: 300px;
    }
    .two-movie-list{
        max-width: 100vw;
    }   
    .movie-details .movie-rating{
        font-size:12px;
    }
    .movie-info .moviename{
        font-size:15px;
    }
    .movie-details .movie-title{
        font-size:13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .movie-list .story {
        font-size: 11px;
        /* line-height: 11px; 11px * 4 */
        overflow: hidden;
        /* max-height: 44px; 11px * 4 */
        max-width: 100vw;
    }
    .movie-button {
        position:relative;
        text-decoration:none;
        cursor: pointer;
        background-color: darkgoldenrod;
        color: black;
        border: none;
        border-radius: 20px;
        width: 30vw;
        margin-top: 30px;
        bottom: 0;
        left: 0;
    }
    .movie-item img{
        width : 150px;
        height: 250px;
    }
    .movie-item .movie-title{
        font-size: 14px;
        line-height: 11px; /* 11px * 4 */
        overflow: hidden;
        max-height: 20px; /* 11px * 4 */
        margin:5px 0;
    }
    
    .container {
        max-width: 100vw;
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
        grid-auto-rows: auto;
        margin-left: 5px;
        grid-gap: 5px;
        margin : 0px 10px;
    }

    .movie-card img {
        width: 30vw;
        height: 170px;
        object-fit: cover;
    }

    .movie-info-list {
        width: 100%;

    }

    .movie-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        margin: 0px;
    }

    .movie-info-list h3,
    .movie-info-list p {
        margin: 2px 0;
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .rating-date li {
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
    }

    .watch-now-btn {
        background-color: darkgoldenrod;
        color: black;
        padding: 6px 11px;
        width: 14vw;
        text-align: center;
        display: block;
        text-decoration: none;
        border-radius: 0px 50px 50px 0px;
        margin-top: 7px;
        font-size: 10px;
    }

    .trending {
        display: none;
    }

    .word {
        height: 20px;
        font-weight: bold;
        max-width: 100vw;
        border-radius: 0px;
        margin-top: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border: none;
    }

    .title {
        margin-top:1000px;
        margin: 0px 5px;
        padding: 0px;
    }

    .title a {
        font-size: 18px;
    }

    .search_box .input_search,
    .shift .href {
        display: none;
        transition: transform 0.3s ease;
    }

    /* .search_box .input_search {
        position: absolute;
        top: calc(100% + 10px);
        transform: translateX(-98%);
        z-index: 1000000;
        width: calc(100% - 20px);
    } */

    .search_box {
        width: 50px;
        gap:10px
    }

    .nav-content {
        margin-left: 60px;
        margin-right: 20px;
    }

    .share-button {
        width: 80vw;
        margin-top: 1020px;
        margin-bottom: 20px;
    }

    .lkol {
        flex-direction: column-reverse;
    }

    .next {
        display: none;
    }

    .start-container-img img {
        width: 200px;
        height: 300px;
    }

    .infos {
        height: 450px;
        width: 90vw;
    }
    .genrey {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
    }

    .shift img {
        opacity: 1;
    }

    .header {
        display: flex;
    }

    #results-overlay {
        width: 100vw;
        top: calc(95px);
        /* Positioniert die Ergebnisse direkt unterhalb des Inputs */
        left: 0;
    }
    .moremovies{
        display: flex;
        justify-content: center;
        margin-left : 50%;
        transform: translatex(-50%);
        margin-bottom : 2%; 
        margin-top : 2%;
    }
    .moremovie{
        margin-top: 20px;
        font-size: 11px;
        font-weight: bold;
        border-radius: 5px;
        color : black;
        background-color: darkgoldenrod;
        border : none;
    }
        .nav-button {
            transform: translateY(-70%);
            font-size: 50px;
        }
}
