::-webkit-scrollbar {
    width: 0.4vw;
}


::-webkit-scrollbar-thumb {
    background: darkgoldenrod;
    border-radius: .4rem
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(1, 29, 82), #d1a11b)
}

::-webkit-scrollbar-track {
    background: #242328;

}

::-webkit-scrollbar-thumb {
    background: #ffc200;
    border-radius: .4rem
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(1, 29, 82), #d1a11b)
}

body {
    margin: 0;
    background-color: #0b1c2e; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: system-ui;
    padding-top: 0px;
    overflow-x: hidden;
}

.shift {
    background-color: #0b1c2e;
    width: 100vw;
    top: 0;
    left: 0;
}

.search-container {
    display: block;
    align-items: center;

}

.nav-content {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    z-index: 2001;
    height: 50px;
}

.shift .href {
    display: inline-block;
}

.shift ul li a {
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px;
    font-family: "Quicksand";
    display: flex;
}

.shift ul li a,
.shift ul li a:after,
.shift ul li a:before {
    transition: all .5s;
}

.shift ul li a:hover {
    color: #012342;

}

.shift ul li a {
    position: relative;
    z-index: 1;
}

.shift ul li a:hover {
    color: #a78801;
}

.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #183652;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.shift img {
    width: 100px;
    height: 30px;
    opacity: 0.5;
}

.shift img:hover {
    opacity: 1;
}

.search_box {
    width: 400px;
    align-items: center;
    /* background: rgb(16, 47, 104); */
    position: relative;
    padding: 5px;
    display: flex;
    text-align: center;
    transition: box-shadow 1s ease;
    font-family: 'forum';
    gap: 3px;
}

.search_box a {
    text-decoration: none;
    padding: 0 0 0 20px;
}

.search_box:hover {
    transition: box-shadow 0.5s ease;
}

.search_box .search_btn {
    width: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ca8b02;
}

.search_box .search_btn:hover {
    cursor: pointer;
}

.search_box form {
    width: 70%;
}

.search_box .input_search {
    outline: none;
    border: 2px solid darkgoldenrod;
    background: #e0dada;
    border-radius: 5px;
    padding: 8px 7px;
    width: 95%;
    color: #000000;
    justify-content: center;
    align-items: center;
    font-family: 'forum';
    font-size: 12px;

}

.search_box .filter_btn {
    width: 20%;
    height: 30px;
    border: none;
    background: #0b1c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgoldenrod;
    cursor: pointer;
    border-radius: 20%;
    font-family: "Quicksand";
    font-weight: bold;
}

.filter_btn {
    width: 20%;
    height: 30px;
    border: none;
    background: #0b1c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgoldenrod;
    cursor: pointer;
    font-family: "Quicksand";
    font-weight: bold;
}

/* search ovelray */
#results-overlay {
    position: absolute;
    width: 410px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10000000;

}

#results-overlay a {
    gap: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.result {
    gap: 3px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

#results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.result-item {
    background-color: #0b1c2e;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-top: 1px solid darkgoldenrod;
    /* border-bottom: 1px solid darkgoldenrod; */
    margin: 0;
    cursor: pointer;
    color: white;
    width: 100%;
    overflow: hidden;
}

.result-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: darkgoldenrod;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 2px;
}

.info-search {
    display: inline-block;
    gap: 5px;
}

.info-search strong {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-item img {
    width: 10%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    opacity: 1;
}

.info {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: end;
    gap: 10px;
}

.info p {
    font-size: 11px;
    font-family: cursive;
}

/* search overlay */


/* sidebar toggle */
.header {
    background: #0b1c2e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 2002;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

.header button {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: 0;
}

.toggle span {
    width: 100%;
    height: 3px;
    background: darkgoldenrod;
    display: block;
    position: relative;
    cursor: pointer;
    margin-top: -5px;
}

.toggle span:before,
.toggle span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkgoldenrod;
    transition: all 0.3s ease-out;
}

.toggle span:before {
    top: -8px;
}

.toggle span:after {
    top: 8px;
}

.toggle span.toggle {
    background: transparent;
}

.toggle span.toggle:before {
    top: 0;
    transform: rotate(-45deg);
    background: rgb(255, 255, 255);

}

.toggle span.toggle:after {
    top: 0;
    transform: rotate(45deg);
    background: rgb(255, 255, 255);
}

.sidebar {
    background: #0b1c2e;
    width: 150px;
    position: fixed;
    top: 0;
    left: -235px;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding-top: 60px;
    transition: all 0.3s ease-out;
    z-index: 2000;

}




.sidebar a {
    padding: 15px 15px;
    font-size: 16px;
    color: #e2e0e0;
    font-family: "Quicksand";
    text-decoration: none;
    display: flex;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
    font-weight: 500;
    /* justify-content: space-between; */
    gap:20px
}

.sidebar a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 1px;
    background: darkgoldenrod;
    z-index: -1;
    transition: all 0.3s ease-out;
}

.sidebar   a:hover:before {
    width: 100%;
}

.sidebar  a:hover {
    color: darkgoldenrod;
}

.sidebarshow {
    left: 0;
}

.custom-icon {
    color: darkgoldenrod;
    width: 15px;
    height: 15px;
}

/* sidebar toggle */


/* //filter */
#overlay1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    /* Stelle sicher, dass das Overlay über anderen Inhalten liegt */
}

#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0b1c2e;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    max-height: 500px;
    overflow-y: auto;
}

#genreButtons {
    display: flex;
    flex-wrap: wrap;
}

#countryButtons {
    display: flex;
    flex-wrap: wrap;
}

.year {
    background-color: black;
    /* Hintergrundfarbe */
    color: #fff;
    /* Textfarbe */
    border: 1px solid black;
    /* Rand */
    padding: 6px 12px;
    /* Innenabstand */
    font-size: 12px;
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
}

.year:hover {
    background-color: #b38600;
    opacity: 2;
    border-color: darkgoldenrod;
    /* Randfarbe beim Überfahren */
    color: black;
}

.type {
    background-color: black;
    /* Hintergrundfarbe */
    color: #fff;
    /* Textfarbe */
    border: 1px solid black;
    /* Rand */
    padding: 6px 12px;
    /* Innenabstand */
    font-size: 12px;
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
}

.type:hover {
    background-color: #b38600;
    opacity: 2;
    border-color: darkgoldenrod;
    /* Randfarbe beim Überfahren */
    color: black;
}

.genre {
    background-color: black;
    /* Hintergrundfarbe */
    color: #fff;
    /* Textfarbe */
    border: 1px solid black;
    /* Rand */
    padding: 6px 12px;
    /* Innenabstand */
    font-size: 12px;
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
}

.genre:hover {
    background-color: #b38600;
    opacity: 2;
    border-color: darkgoldenrod;
    /* Randfarbe beim Überfahren */
    color: black;
}

.country {
    background-color: black;
    /* Hintergrundfarbe */
    color: #fff;
    /* Textfarbe */
    border: 1px solid black;
    /* Rand */
    padding: 6px 12px;
    /* Innenabstand */
    font-size: 12px;
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
}

.country:hover {
    background-color: #b38600;
    opacity: 2;
    border-color: darkgoldenrod;
    /* Randfarbe beim Überfahren */
    color: black;
}

.filter-start {
    background-color: darkgoldenrod;
    /* Hintergrundfarbe */
    color: black;
    /* Textfarbe */
    border: 1px solid darkgoldenrod;
    /* Rand */
    padding: 8px 15px;
    /* Innenabstand */
    border-radius: 5px;
    /* Abgerundete Ecken */
    cursor: pointer;
    /* Zeiger als Cursor beim Überfahren */
    margin-top: 20px;
}

.filter-icon {
    width: 35px;
    height: 35px;
    border-radius: 30px;
}

.selected {
    outline: none;
    /* Entfernt den Standard-Fokus-Stil */
    border-color: darkgoldenrod;
    background-color: #b38600;
    color: black;
}

/* //filter */

/* Overlay effect */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.01s;
    z-index: 1001;
    /* Setze den z-index höher als den z-index der Sidebar (1001) */
}

.anime {
    width: 100%;
    height: 700px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 0;
    box-shadow: 0px 10px 20px -10px rgba(223, 172, 5, 0.5)
}

.cinema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 20px;
    width: 100%;
    height: 100vh;
    transform: translateX(0%);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
}

.server-message {
    color: #aaa;
    font-family: "Quicksand";
    font-size: 17px;
    text-align: center;
}
.video-buttons {
    z-index: 2;
    position: relative;
    transform: translateX(-0%);
    
}

/* #videoIframe {
    background-color: rgba(0, 0, 0, 0.75);
} */

.video-buttons button{
    background:linear-gradient(to bottom, #0b1c2e, #0b1c2e, #000000, #000000);
    color: white;
    border: 2px solid darkgoldenrod;
    width: 200px;
    display:flex;
    justify-content: space-between;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    padding: 14px 20px;
    cursor: pointer;
}

.video-buttons button.selected,
.video-buttons button:hover{
    color:black;
    background: darkgoldenrod;
}

.jdod {
    position: relative;
    gap: 30px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 5px;
    padding: 3px;
    max-width: 1280px;
    
}
.jdod img.show {
    opacity: 1; /* Zielzustand: Container ist sichtbar */
    transform: translateX(0); /* Zielzustand: Container ist nicht mehr verschoben */
}

.jdod img {
    width: 300px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 10px 20px rgba(223, 172, 5, 0.5);
    transform: translateX(-30%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.anime-details {
    display: flex;
    flex-direction: column;
    transform: translateX(30%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.anime-details.show{
    opacity: 1;
    transform : translateX(0)
}

.anime-details .button {
    display: flex;
    justify-content: space-between;
}

.anime-details h1 {
    font-weight: bold;
    font-size: 25px;
    top: 10px;
    left: 10px;
    color: darkgoldenrod;
}

.anime-details p {
    font-weight: 100;
    top: 50px;
    left: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    padding-right: 3%;
    max-height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info1 {
    display: flex;
    gap: 100px;
}

.anime .overlay_ {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    backdrop-filter: brightness(40%);
    filter: blur(10px) brightness(0.8);

}

.container {
    /* background-color: rgba(0, 0, 0, 0.8);  */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 10px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    margin: 0px;
    box-shadow: 0px 0px 10px;
    border-radius: 0px 0px 50px 0px;
}

.movie-card-img {
    overflow: hidden;
    position: relative;
}

.movie-card img {
    width: 170px;
    height: 250px;
    display: block;
    border-radius: 0px 0px 0px 0px;
    transition: transform 0.3s ease;
}

.movie-info-list {
    width: 100%;
    /* movie-info-list nimmt die volle Breite ein */
    background-color: #0b1c2e;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 0px 50px 0px;
    border: 3px solid #152c42;
}

.rating-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.movie-info-list h3,
.movie-info-list p {
    margin: 2px 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .movie-card img:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    
} */
.movie-card:hover img {
    opacity: 1;
    transform: scale(1.2);
}

/* .movie-card-img::after {
    content: ""; 
    background-image: url('/images/movie_play.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px; 
    height: 50px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    border-radius:10px;
    cursor: pointer;
}

.movie-card-img:hover::after {
    opacity: 1; 
} */
.movie-card-img .glightbox_video svg {
    width: 70px;
    height: 70px;
}

.movie-card-img .glightbox_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 12;
}

.movie-card-img .outer_circle {
    stroke-width: 3;
    stroke-dasharray: 410;
    stroke-dashoffset: 0;
    stroke-linecap: square;
    transition: all .4s ease-out;
    opacity: 0;
}

.movie-card-img:hover .glightbox_video {
    opacity: 1;
}

.movie-card-img:hover .outer_circle {
    opacity: 1;
    stroke-dashoffset: 410;
    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out;
}

.movie-card-img:hover .inner-circle {
    fill: #173761;
    transition: fill .4s .3s ease-out;
    opacity: 1;
}

.movie-card-img:hover .glightbox_video .play {
    fill: darkgoldenrod;
    transition: fill .4s .3s ease-out;
}

.movie-card-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid darkgoldenrod;
    background: radial-gradient(circle at center, transparent 0%, rgba(138, 113, 52, 0.5) 50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 11;
}

.movie-card-img:hover::before {
    opacity: 1;
    /* Show the border on hover */
}

.watch-now-btn {
    background-color: darkgoldenrod;
    ;
    color: black;
    padding: 10px 20px;
    width: 80px;
    text-align: center;
    display: block;
    text-decoration: none;
    border-radius: 0px 50px 50px 0px;
    margin-top: 7px;
    font-size: 12px;
    font-family: 'forum';
    font-weight: bold;
}

.watch-now-btn:hover {
    background-color: #f5cc00;
}



.al9at {
    display: flex;
    flex-direction: column;
    transform: translateX(-10%);
    background-color: rgba(0, 0, 0, 0.8);
    height: 515px;
    width: 250px;
    z-index: 3;
    direction: ltr;
    /* Setzt die Textausrichtung für den Inhalt wieder auf Links-nach-rechts */
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-container {
    direction: rtl;
    /* Rechts-nach-links-Textausrichtung */
    width: 250px;
    height: 515px;
    overflow: hidden;
    /* Versteckt die Scrollbar */
    margin-top: -5px;
}

.loula a {
    text-decoration: none;
    color: white;
    font-size: 13px;

}

.loula.active a {
    color: darkgoldenrod;
    font-weight: bold;
}


.loula {
    border-bottom: 0.0001px solid darkgoldenrod;
    margin-left: 20px;
    padding: 15px;
    width: calc(100% - 26px);
}

.ktiba {
    color: white;
    max-width: 500px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ktiba li strong {
    color: white
}

.ktiba a {
    text-decoration: none;
    color: white;
}

.ktiba a:hover {
    text-decoration: none;
    color: darkgoldenrod;
}

.ktiba1 {
    color: white;
    font-size: 14px;
}

/* footer */
.footer {
    background: linear-gradient(to right, #000000, #0b1c2e, #0b1c2e, #000000);
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top:50px;
}
.footer img {
    width: 150px;
    height: auto;
    margin:0 auto 50px auto;
}
.footer a {
    color: darkgoldenrod;
    text-decoration: none;
    margin: 0 30px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer p {
    margin: 5px 0 0 0;
}
.footer hr {
    border: 0;
    height: 1px;
    background: darkgoldenrod;
    margin: 10px auto 30px auto;
    width: 70%;
}
/* footer */

.search-container.show-input .search_box {
    display: flex;
    position: absolute;
    left: 0;
    background-color: #0b1c2e;
    z-index: 9999;
    width: 97vw;
    transform: translateY(24px);
    transition: transform 0.6s ease;
}

.search-container.show-input .search_box .input_search {
    display: flex;
}
@media (min-width: 3500px) {
    .footer{
        position: absolute;
    }
}
@media (min-width: 901px) and (max-width: 1400px) {

    .jdod {
        margin: 10px;
    }

    .info1 {
        flex-direction: column;
        gap: 0;
    }

    .container {
        margin-left: 8px;
        grid-gap: 2px;
    }

    .nav-content {
        margin: 0 15px
    }
    #videoIframe{
        width: 100vw;
    }
    .cinema{
        padding : 70px 0 0 0 ;
    }


}

@media (max-width: 900px) {
    .text4, .text2 {
        width: auto;
    }
    .server-message {
        color: #aaa;
        font-family: "Quicksand";
        font-size: 11px;
        text-align: center;
    }
    .video-buttons{
        text-align: center;
    }
    .video-buttons button{
        padding: 10px 20px;
        font-size: 12px;
        margin: 5px;
    }
    .shift img {
        opacity: 1;
    }
    .footer{
            position: relative;
        }
        .footer img {
            width: 80px;
            height: auto;
            margin:0 auto 30px auto;
        }
        .footer a {
            font-size: 11px;
            margin: 0 10px;
        }
        .footer a:hover {
            text-decoration: none;
        }
        .footer hr {
            width: 80%;
        }
    .header {
        display: flex;
    }

    #results-overlay {
        width: 100vw;
        top: calc(95px);
        /* Positioniert die Ergebnisse direkt unterhalb des Inputs */
        left: 0;
    }

    .search_box .input_search,
    .shift .href {
        display: none;
        transition: transform 0.3s ease;
    }

    .search_box {
        width: 50px;
        gap: 10px;
    }

    .nav-content {
        margin-left: 60px;
        margin-right: 20px;
    }

    .info1 {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }



    .video-container {
        position: relative;
        width: 100%;
    }

    .video-container iframe {
        width: 100vw;
        height: 100vw;

    }

    .anime {
        height: 100%;
        width: 100%;
        position: relative;
        background-size: cover;
        background-position: top center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        z-index: 0;

    }

    .jdod {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .ktiba {
        font-size: 10px;
    }

    .ktiba1 {
        font-size: 10px;
    }

    .jdod img {
        width: 50%;
        height: 100%;
        border-radius: 20px;
        margin-top: 60px;
    }

    .anime-details {
        margin: 5px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .anime-details .button {
        display: flex;
        justify-content: space-between;
    }

    .anime-details h1 {
        font-size: 18px;
        top: 5px;
        left: 5px;
        color: darkgoldenrod;
    }

    .anime-details p {
        font-size: 10px;
        top: 20px;
        left: 5px;
        color: white;
    }

    .info1 {
        display: flex;
        gap: 1px;
    }


    .container {
        max-width: 100vw;
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
        grid-auto-rows: auto;
        margin-left: 5px;
        grid-gap: 5px;
        margin: 0px 10px;
    }

    .movie-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        margin: 0px;
    }

    .movie-card img {
        width: 30vw;
        height: 170px;
        object-fit: cover;
    }

    body {
        overflow-x: hidden;
    }

    .movie-info-list {
        width: 100%;
    }

    .movie-info-list h3,
    .movie-info-list p {
        margin: 2px 0;
        /* Gibt einen kleinen Abstand oben und unten */
        font-size: 10px;
        white-space: nowrap;
        /* Verhindert den Zeilenumbruch */
        overflow: hidden;
        /* Versteckt den überlaufenden Inhalt */
        text-overflow: ellipsis;
        /* Fügt Ellipsen hinzu, wo der Inhalt abgeschnitten wird */
    }

    .watch-now-btn {
        background-color: darkgoldenrod;
        color: black;
        padding: 6px 11px;
        width: 14vw;
        text-align: center;
        display: block;
        text-decoration: none;
        border-radius: 0px 50px 50px 0px;
        margin-top: 7px;
        font-size: 10px;
    }

    #videoIframe {
        width: 100vw;
    }
}
